@mixin li-rotate($piePieces, $degree){ 
    @for $i from 0 to length($piePieces){
        li:nth-child(#{$i + 1}){
            transform: rotate(#{$degree * $i}deg) skewY(-60deg);
       }
    }
} 

li {
    @include li-rotate(12, 30);
}
li:first-child {
    transform: rotate(0deg) skewY(-60deg);
  }